!!! XML
!!!
%html
  %head
    %title= [ @title, "JASC" ].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'default'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      %h1.title= @title
      %h2.subtitle= @subtitle
    #content
      =yield

